services:
  - type: web
    name: stock-market-ai-agent
    env: docker
    region: oregon
    plan: free
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 8501
      - key: AUTH_USERNAME
        value: admin
      - key: AUTH_PASSWORD
        sync: false
      - key: ALPHA_VANTAGE_API_KEY
        sync: false
      - key: FINNHUB_API_KEY
        sync: false
      - key: NEWS_API_KEY
        sync: false
